############################################################################################
# .htaccess for the First-Coder Werbinterface
############################################################################################
# Autor: L.Gmann
############################################################################################
# Last edit: 10.04.2017
############################################################################################

############################################################################################
# Rewite Engine will be set on
############################################################################################
RewriteEngine on

############################################################################################
# Determine if the request does not match an existing file or directory
############################################################################################
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

############################################################################################
# If so, send the request to the applicable file, relative to this directory
############################################################################################
RewriteRule ^ php/404/404.php [L]

############################################################################################
# Per your comment and suggested edit, add the following.
# Note: This should not make any difference as mod_rewrite and PHP should
# already handle the error document.
############################################################################################
ErrorDocument 404 /php/404/404.php

############################################################################################
# Cache the files
############################################################################################
<IfModule mod_expires.c>
 ExpiresActive On
 ExpiresDefault "access plus 4592000 seconds"
 ExpiresByType image/jpeg "access plus 4592000 seconds"
 ExpiresByType image/x-icon "access plus 4592000 seconds"
 ExpiresByType image/jpg "access plus 4592000 seconds"
 ExpiresByType image/png "access plus 4592000 seconds"
 ExpiresByType image/gif "access plus 4592000 seconds"
 ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
 ExpiresByType text/css "access plus 2592000 seconds"
 ExpiresByType text/javascript "access plus 2592000 seconds"
 ExpiresByType application/x-javascript "access plus 4592000 seconds"
 ExpiresByType text/html "access plus 6000 seconds"
 ExpiresByType application/xhtml+xml "access plus 6000 seconds"
</IfModule>

<IfModule mod_headers.c>
 <FilesMatch "\\.(ico|jpeg|jpg|png|gif|swf)$">
  Header set Cache-Control "max-age=4592000, public"
 </FilesMatch>
 <FilesMatch "\\.(css)$">
  Header set Cache-Control "max-age=2592000, public"
 </FilesMatch>
 <FilesMatch "\\.(js)$">
  Header set Cache-Control "max-age=216000, private"
 </FilesMatch>
 <FilesMatch "\\.(xhtml|html|htm|php)$">
  Header set Cache-Control "max-age=600, private, must-revalidate"
 </FilesMatch>
 </IfModule>
